#help jdbc info
jdbc.driverClassName=cubrid.jdbc.driver.CUBRIDDriver
jdbc.url=jdbc:cubrid:52.78.36.25:30000:dev_ally:::?charset=UTF-8
jdbc.username=dba
jdbc.password=/*비밀번호를 입력해주세요*/
jdbc.maxWait=6000

